:root {
  --size: clamp(1.4rem, 1vw + 0.4rem, 1.6rem);
  --yellow: #ffd700;
  --white: #ffffff;
}

.game-over-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  width: 80%;
  min-height: 100vh;
  padding-block: 2rem;
}

.game-over-container h2 {
  /* text-align: left;
  margin-inline-start: 0.4rem; */
  margin-block: 0.6rem;
  font-weight: normal;
  font-size: clamp(2rem, 1.8vw + 0.4rem, 2.6rem);
  color: var(--yellow);
}

.points-container p {
  font-size: var(--size);
  border: 2px solid var(--white);
  border-radius: 2rem;
  padding-block: clamp(1.4rem, 1.4vw + 0.5rem, 1.8rem);
  padding-inline: clamp(1rem, 1vw + 0.5rem, 2rem);
  margin-block: 2rem;
}

.guessedWordsAlignment {
  text-align: justify;
}

.points-container p span {
  color: var(--yellow);
}

.loss-container h3 {
  font-size: var(--size);
  font-weight: normal;
  margin-block-start: 0.4rem;
  font-size: clamp(1.8rem, 1.6vw + 0.2rem, 2rem);
  color: var(--yellow);
}

.loss-container p {
  font-size: clamp(1.8rem, 1.6vw + 0.2rem, 2rem);
}

.loss-container p span {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .game-over-container {
    width: 60%;
  }
}
