.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  min-height: 90vh;
}

.tip-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #2e2e52;
  border: 2px solid #fff;
  border-radius: 2rem;
}

:root {
  --size: clamp(1.4rem, 1vw + 0.4rem, 1.6rem);
}

p {
  font-size: var(--size);
}

.tip-container p span {
  /* font-weight: bold; */
  color: #ffd700;
}

.letters-container {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 1rem;
  padding-block: clamp(1.5rem, 1.5vw + 0.5rem, 2rem);
  padding-inline: clamp(1rem, 1vw + 0.5rem, 2rem);
}

.letters-container span {
  font-size: clamp(4rem, 4vw + 1rem, 6.5rem);
  background-color: #ffffff;
  border: 3px solid #000;
  color: #000;
  text-transform: uppercase;
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.form div {
  align-self: flex-end;
}

.form label input {
  width: 50px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 1rem;
  font-size: clamp(1.5rem, 1vw + 0.6rem, 1.8rem);
  text-align: center;
}

.form label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label span {
  margin-block-end: 0.8rem;
  margin-inline-start: 0.8rem;
  font-size: clamp(1.5rem, 1vw + 0.6rem, 1.8rem);
}

@media screen and (min-width: 768px) {
  .game-container {
    width: 60%;
  }

  .form label input {
    width: 70px;
  }
}

.used-letters-container {
  margin-block-start: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.used-letters-container span {
  font-size: var(--size);
  font-weight: bold;
}
