.start-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: clamp(2.4rem, 2vw + 0.5rem, 2.8rem); */
  padding-block: 1.5rem;
}

.start-container h1 {
  font-size: clamp(3rem, 3.8vw + 1rem, 4.8rem);
  letter-spacing: 0.2rem;
}

.start-container p {
  font-size: clamp(1.4rem, 1vw + 0.6rem, 1.8rem);
  padding-block-end: 0.3rem;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.btn-container {
  margin-block-start: 5rem;
}

.btn-container button {
  margin-block-start: 2rem;
}
