.start-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  padding-block: 1.6rem;
  padding-inline: 1rem;
  min-height: 100vh;
}

.btn-container p {
  font-size: clamp(1.5rem, 1vw + 0.6rem, 1.8rem);
  padding-block-end: 0.3rem;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.btn-container button {
  margin-block-start: 2rem;
}

.guide-container h3 {
  font-size: clamp(1.8rem, 1.8vw + 0.5rem, 2.5rem);
  margin-block-end: 1.6rem;
  padding-block: 1rem;
  text-align: center;
  font-weight: normal;
}

.cards-tips {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-self: center;
  gap: 1rem;
}

.cards-tips div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2e2e52;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 2rem;
  padding-inline: 2rem;
  padding-block: clamp(0.9rem, 0.5vw + 0.2rem, 1.2rem);
  gap: clamp(2.4rem, 2vw + 0.5rem, 2.8rem);
}

.cards-tips div p {
  font-size: clamp(1.4rem, 1vw + 0.4rem, 1.6rem);
  flex-grow: 1;
}

.cards-tips div svg {
  font-size: clamp(1.4rem, 1vw + 0.4rem, 1.6rem);
}

@media screen and (min-width: 768px) {
  .cards-tips {
    grid-template-columns: repeat(2, 1fr);
  }
}
