.warn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #2e2e52;
  border: 2px solid #000;
  border-radius: 1.5rem;
  padding-block: 2.8rem;
  padding-inline: 0.8rem;
  position: absolute;
  left: 3%;
  bottom: 20%;
  color: #000;
  text-align: left;
}

.warn-container svg {
  position: absolute;
  right: 2%;
  top: 10%;
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 768px) {
  .warn-container {
    width: 50%;
    left: 10%;
    bottom: 25%;
  }
}
