.warn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: #2e2e52;
  border: 2px solid #000;
  border-radius: 1.5rem;
  padding-block: 2rem;
  position: absolute;
  left: 3%;
  bottom: 20%;
  color: #000;
  text-align: center;
}

.warn-container svg {
  width: 15px;
  height: 15px;
}

.warn-container p {
  font-size: clamp(1.6rem, 1vw + 0.6rem, 1.8rem);
  padding-block: 1.8rem;
}

.warn-container button {
  border-radius: 0;
  padding: 0;
  position: absolute;
  right: 3.5%;
  top: 12%;
  color: #000;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .warn-container {
    width: 50%;
    left: 10%;
    bottom: 25%;
    padding-block: 1.4rem;
  }

  .warn-container button {
    right: 2.5%;
    top: 14%;
  }
}
