.app-container {
  max-width: 768px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}

@media screen and (min-width: 769px) {
  .app-container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1024px) {
  .app-container {
    max-width: 1280px;
  }
}
