*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./assets/fonts/TitilliumWeb-Regular.woff2") format("woff2"),
    url("./assets/fonts/TitilliumWeb-Regular.woff") format("woff");
}

body {
  font-family: "Titillium Web", sans-serif;
}
