*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

:root {
  --white: #ffffff;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./assets/fonts/TitilliumWeb-Regular.woff2") format("woff2"),
    url("./assets/fonts/TitilliumWeb-Regular.woff") format("woff");
}

body {
  font-family: "Titillium Web", sans-serif;
  background: linear-gradient(180deg, #2e2e52, #000000);
  color: var(--white);
  min-height: 100vh;
}

button {
  background-color: #2e2e52;
  border: 2px solid var(--white);
  color: var(--white);
  text-transform: uppercase;
  border-radius: 2rem;
  padding-block: clamp(0.8rem, 0.5vw + 0.2rem, 1.2rem);
  padding-inline: clamp(3rem, 3vw + 0.5rem, 5.5rem);
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: #262642;
}

button:focus {
  outline: 2px solid var(--white);
  outline-offset: 0.2rem;
}

h1 {
  font-size: clamp(3rem, 3.8vw + 1rem, 4.8rem);
  letter-spacing: 0.2rem;
}
